@import "./grid-layout.scss";
@import "./artwork-card.scss";
@import "./fonts.scss";
@import './colors.scss';

body {
  background-color: #F9F4ED;
  color: $text-color;
  font-family: 'EB Garamond', serif;
  font-weight: 400;
}

.main {
  margin: 0;
}
