@import './colors.scss';

.artwork-card {
  display: flex;
  font-size: 1.2rem;

  a {
    text-decoration: none;
    color: $text-color;

    &:visited {
      color: $text-color;
    }
  }
}

.artwork-card__main {
  position: relative;

  .artwork-card__viewed-indicator {
    position: absolute;
    left: 0;
    width: auto;
    margin: 0.4rem;
    font-weight: 400;
    padding: 0.2rem 0.6rem;
    border: 0.0625rem solid rgba(22, 37, 33, 0.4);
    border-radius: 0.9rem;
    font-size: 0.9rem;
    text-align: start;
    background-color: #F5F5F5;
  }
}

.artwork-card__details {
  display: flex;
  flex-direction: column;
  padding: 0.2rem 0.6rem 0.6rem 0.6rem;
  border-bottom: 0.0625rem solid rgba(22, 37, 33, 0.4);
  margin-bottom: 0.6rem;
}

.artwork-card__artist {
  color: rgba(22, 37, 33, 0.7)
}

.artwork-card__image {
  img {
    width: 100%;
    object-fit: contain;
  }
}
