@import "./breakpoints.scss";

// https://css-tricks.com/piecing-together-approaches-for-a-css-masonry-layout/
.grid-layout {
  columns: 4 200px;
  column-gap: 0.4rem;

  .grid-layout__item {
    width: 150px;
    margin: 0 0.1rem;
    display: inline-block;
    width: 100%;
  }

  @include mobile {
    columns: 1;
  }
}
